.light_mode {
    //=======================================
    //          GLOBALS THEME COLOR 
    //=======================================
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 { color: $heading; }
    a { color: $text;  }
    button { color: $text; }

    html, 
    body {
        color: $text;
        background: $white; 
    }

    //=======================================
    //        COMPONENTS THEME COLOR 
    //=======================================
    .mc-alert button { border-color: $white; }

    .mc-breadcrumb-item {
        color: $gray-600;
        &::after { color: $gray-600; }
    }

    .mc-breadcrumb-link {
        color: $primary;
        &:hover { color: $primary; }
    }

    .btn {
        color: $white;
        &:hover { color: $white; }
    }

    .mc-btn {
        color: $white;
        &:hover { color: $white; }
    }
    
    .mc-divide-title {
        &::after { background-color: $gray-200; }
    }
    
    .mc-dropdown-paper {
        border-color: $gray-200;
        background-color: $white;
    }

    .mc-dropdown-menu {
        &:hover { background-color: $gray-200; }
    }
    
    .mc-label-field-title {
        color: $heading;
    }

    .mc-label-field-input,
    .mc-label-field-select,
    .mc-label-field-textarea {
        color: $text;
        border-color: $gray-300;
        background-color: $gray-200;
    }

    .mc-icon-field {
        background-color: $white;
        border-color: $gray-300;
        
        &:focus-within {
            border-color: $primary;
            i { color: $primary; }
        }

        input,
        select,
        textarea {
            color: $text;
        }

        i,
        button { color: $gray-800; }
    }
    
    .mc-fieldset {
        background-color: $gray-100;
        border-color: $gray-500;

        &:focus-within {
            border-color: $primary;
            legend { color: $primary; }
        }

        input,
        select
        textarea {
            color: $heading;
        }
    }

    .mc-file-upload {
        color: $heading;
        background-color: $gray-300;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }

    .form-label {
        color: $heading;
    }

    .form-select,
    .form-control {
        color: $text;
        border-color: $gray-300;
        background-color: $gray-200;

        &:focus-within {
            border-color: $primary;
            background-color: $gray-100;
        }
    }

    .form-control[type=file]::-webkit-file-upload-button,
    .form-control[type=file]::file-selector-button {
        color: $text;
    }

    .form-btn {
        color: $white;
        background-color: $primary;

        &:hover {
            color: $white;
            background-color: rgba($primary, 0.8);
        }
    }

    .mc-logo-group {
        span { color: $heading; }
    }

    .modal {
        background-color: rgba($black, 0.5);
    }

    .modal-close {
        i {
            color: $black;
            background: $white;

            &:hover {
                color: $white;
                background: $red-600;
            }
        }
    }

    .modal-title { color: $heading; }

    .mc-user-modal {
        img { border-color: $white; }
    }

    .mc-alert-modal {
        i {
            color: $red-700;
            background-color: $white;
        }
    }

    .mc-paginate-item {
        background-color: $gray-200;

        &:hover {
            color: $white;
            background: $primary;
        }

        &.active {
            color: $white;
            background: $primary;
        }
    }

    .mc-round-avatar {
        border-color: $primary;
    }

    .mc-table-head {
        border-color: $gray-200;

        &.gray {
            background-color: $gray-100;
        }

        tr th { border-color: $gray-200; }
    }

    .mc-table-body {
        tr td { 
            border-color: $gray-200; 
        }

        &.even {
            tr {
                &:nth-child(even) {
                    background-color: $gray-100;
                }
            }
        }
    
        &.odd {
            tr {
                &:nth-child(odd) {
                    background-color: $gray-100;
                }
            }
        }
    }

    .mc-table-check {
        input { outline-color: $gray-200; }
    }
    
    .mc-table-product {
        img { border-color: $gray-200; }
    }

    .mc-table-review {
        span { color: $gray-600; }
    }
    
    .mc-table-action {
        a,
        button { 
            background-color: $gray-200; 
            
            &.view {
                color: $purple-700;
                background-color: $purple-200;
            }
    
            &.edit {
                color: $green-700;
                background-color: $green-200;
            }
    
            &.chat {
                color: $green-700;
                background-color: $green-200;
            }
    
            &.delete {
                color: $red-700;
                background-color: $red-200;
            }
    
            &.block {
                color: $red-700;
                background-color: $red-200;
            }
    
            &.download {
                color: $blue-700;
                background-color: $blue-200;
            }
        }
    }

    .mc-tabs {
        .nav-link {
            color: $heading;

            &:hover {
                color: $primary;
                background-color: rgba($primary, 0.1);
            }

            &.active {
                border: none;
                color: $white;
                background-color: $primary;
            }
        }
    }

    .mc-tabpane {
        .mc-icon-field {
            border-color: $gray-400;
            background-color: $gray-200;
            &:focus-within { border-color: $primary; }
        }
    }

    .thin-scrolling {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $primary; 
            }
        }
    }

    //=======================================
    //          ELEMENTS THEME COLOR 
    //=======================================
    .mc-activity-card-item {
        border-color: $gray-300;

        &:hover {
            border-color: $primary;
    
            &::before {
                background-color: $primary;
            }
        }

        &::before {
            border-color: $white;
            background-color: $gray-500;
        }
    }

    .mc-analytics-card  {
        background-color: $white;
        border-color: $gray-200;
    }

    .mc-analytics-card-group {
        .mc-dropdown-toggle  i { color: $gray-100; }
    }

    .mc-analytics-card-content {
        h3 { color: $white; }
        p { color: $gray-200; }
    }

    .mc-card {
        background-color: $white;
        border-color: $gray-200;
    }

    .mc-countries-card-item {
        border-color: $gray-200;
        h6 span { color: $gray-700; }
    }

    .mc-crm-card {
        background-color: $white;
        border-color: $gray-200;
    }

    .mc-devices-card-head  {
        .mc-icon-field {
            background-color: $gray-100;
            border-color: $gray-200;
        }
    }

    .mc-ecommerce-card-meta { color: $white; }

    .mc-order-card-item { 
        border-color: $gray-200; 
        i { color: $primary; }
    }

    .mc-overview-label  {
        color: $white;
        border-color: $white;
        background: $primary;
    }

    .mc-overview-badge {
        color: $white;
        background: $red-600;
    }

    .mc-overview-overlay {
        background: rgba($black, 0.7);
    }

    .mc-overview-link {
        color: $white;
        background: $primary;
        &:hover { color: $white; }
    }

    .mc-overview-name {
        color: $blue-500;
    }

    .mc-revenue-card-header {
        .mc-icon-field {
            background-color: $gray-100;
            border-color: $gray-200;
        }
    }

    .mc-revenue-card-report {
        h3 span { color: $text; }
    }

    .mc-sales-card {
        .mc-card-title { color: $white; }
        .mc-dropdown-toggle i {  color: $gray-300; }
    }

    .mc-tab-card-title {
        &::after { background-color: $gray-300; }
    }

    //=======================================
    //          LAYOUTS THEME COLOR 
    //=======================================
    .mc-header {
        &.sticky {
            background-color: rgba($white, 0.95);
        }
    }

    .mc-header-search {
        background-color: rgba($primary, .06);

        &:hover {
            background-color: rgba($primary, .1);
            button { color: $primary; }
        }

        button { border-color: $gray-400; }
    }

    .mc-header-icon {
        i {
            color: $gray-800;
            background-color: rgba($primary, .06);

            &:hover {
                color: $primary;
                background-color: rgba($primary, .1);
            }
        }

        sup {
            color: $white;
            border-color: $white;
        }
    }
    
    .mc-header-language {
        &:hover {
            background-color: $gray-100;
        }

        &.active {
            color: $primary;
            background-color: $blue-100;

            &::before {
                color: $primary;
            }
        }
    }

    .mc-header-user {
        .mc-dropdown-menu {
            &:hover {
                color: $primary;
                background-color: $gray-100;
            }
        }
    }

    .mc-invoice-list-group {
        border-color: $gray-200;
    }

    .mc-invoice-list {
        li {
            &:last-child {
                border-color: $gray-200;
            }

            .digit { color: $heading; }
        }
    }

    .mc-main {
        background-color: $gray-100;
    }

    .mc-review-analytics-graph {
        background: $gray-300;
        span { background: $yellow-600; }
    }

    .mc-review-analytics-total {
        color: $text;
    }

    .mc-review-analytics-star {
        i {
            color: $gray-200;
            &.active { color: $yellow-600; }
        }
    }

    .mc-review-data {
        background-color: $gray-100;
    }

    .mc-review-admin {
        color: $white;
        background-color: $gray-900;
    }

    .mc-review-star {
        i { color: $yellow-600; }
    }

    .mc-review-dots {
        .mc-dropdown-toggle {
            i {
                color: $text;
                background: $gray-200;
        
                &:hover {
                    color: $white;
                    background: $primary;
                }
            }
        }
    }

    .mc-sidebar {
        @include laptop-breakpoint {
            background: $white;
            border-color: $gray-200;
        }

        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $primary; 
            }
        }
    }

    .mc-sidebar-menu-title {
        color: $gray-500;
    }
    
    .mc-sidebar-menu-item {
        &.focused {
            .mc-sidebar-menu-btn  {
                color: $primary;
                background-color: rgba($primary, 0.1);
    
                i { color: $primary; }
            }
        }

        &.active {
            .mc-sidebar-menu-btn  {
                color: $primary;
                background-color: rgba($primary, 0.1);
                i { color: $primary; }
            }
        }
    }

    .mc-sidebar-menu-btn {
        &:hover { background-color: $gray-200; }
        i { color: $gray-700; }
        sup { color: $white; }
    }

    .mc-sidebar-dropdown-list {
        border-color: $gray-300;
    }

    .mc-sidebar-dropdown-item {
        &.active {
            .mc-sidebar-dropdown-link {
                color: $primary;
            }
        }
    }

    .mc-sidebar-dropdown-link {
        &::before { background-color: $primary; }
        &:hover { color: $primary; }
    }

    //=======================================
    //          PAGES THEME COLOR 
    //=======================================
    .mc-analytics-group {
        .mc-icon-field {
            background-color: $gray-100;
            border-color: $gray-200;
        }
    }

    .mc-auth-form {
        background: $gray-200;
        border-color: $gray-300;
    }

    .mc-auth-forgot {
        &:hover { color: $primary; }
    }

    .mc-auth-btn {
        color: $white;
        background-color: $primary;
    }

    .mc-auth-divide {
        &::after { background: $gray-400; }

        span {
            color: $text;
            background: $gray-200;
            border-color: $gray-400;
        }
    }

    .mc-auth-navigate {
        background: $gray-200;
        border-color: $gray-300;
        a { color: $primary; }
    }

    .mc-docs {
        b { color: $primary; }
    }

    .mc-message-user-filter {
        .mc-icon-field {
            background-color: $gray-200;
            &:focus-within { background-color: $gray-100; }
        }

        .mc-dropdown-toggle {
            i { background-color: $gray-200; }
        }
    }

    .mc-message-user-list {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $primary; 
            }
        }
    }

    .mc-message-user-item {
        &:hover { background-color: $gray-100; }
        &.active { background-color: rgba($primary, 0.1); }

        .mc-round-avatar {
            &::before {
                border-color: $white;
                background-color: $gray-600;
            }

            &.online {
                &::before {
                    background-color: $green-600;
                }
            }
        }

        .mc-duel-text {
            &.unread {
                .mc-duel-text-descrip { color: $primary; }
            }
        }

        .mc-duel-text-title {
            small { color: $text; }
        }

        sup {
            color: $white;
            background-color: $primary;
        }

        .mc-dropdown-toggle {
            i { background-color: $gray-200; }
        }
    }

    .mc-message-chat-header {
        border-color: $gray-200;

        .mc-round-avatar {
            &::before {
                border-color: $white;
                background-color: $green-600;
            }
        }
    }

    .mc-message-chat-action-group {
        i {
            background-color: $gray-200;
    
            &:hover {
                color: $white;
                background-color: $primary;
            } 
        }
    }

    .mc-message-chat-list {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $primary; 
            }
        }
    }

    .mc-message-chat-item {
        &:nth-child(even) {
            .mc-message-chat-text {
                p {
                    background-color: $blue-100;
                    border-color: $blue-200;
                }
            }
        }
    }

    .mc-message-chat-text {
        p {
            border-color: $gray-200;
            background-color: $gray-100;
        }

        i {
            color: $gray-500;
            &:hover { color: $gray-700; }
        }
    }

    .mc-message-chat-footer {
        background-color: $gray-200;

        button {
            background-color: $primary;
            color: $white;
        }
    }

    .mc-notify-item {
        border-color: $gray-200;
    }

    .mc-notify-content {
        color: $text;
        &:hover { color: $text; }
    }

    .mc-notify-media {
        i {
            color: $white;
            border-color: $white;
        }
    }
    .mc-notify-close {
        color: $heading;
        &:hover { color: $primary; }
    }

    .mc-product-upload-image {
        &:hover {
            &::after { color: $primary; }
            img { border-color: $primary; }
        }
    
        &.active {
            img { border-color: $green-600; }
        }

        &::after { color: $green-600; }
        img { border-color: $gray-300; }
    }

    .mc-product-upload-file {
        border-color: $gray-300;
        &:hover { border-color: $gray-500; }
    }

    .mc-product-view-gallery {
        img { border-color: $gray-300; }
    }

    .mc-product-view-meta {
        ul {
            li { background-color: $gray-200; }
        }
    }

    .mc-register-banner {
        background: linear-gradient(to right, $gray-200, $gray-100);
    }

    .mc-register-banner-title {
        color: $gray-900;
    }

    .mc-register-form {
        background-color: $gray-200;
    }

    .mc-register-navigate {
        a { color: $primary; }
    }

    .mc-user-avatar {
        border-color: $primary;
    }

    .mc-user-metalist {
        li {
            i { color: $primary; }
        }
    }

    .mc-user-social {
        a {
            background-color: $gray-200;
            color: $white;
        }
    }

    .mc-user-activity-item {
        border-color: $gray-300;

        &:hover {
            border-color: $primary;
            &::before { background-color: $primary; }
        }

        &::before {
            background-color: $gray-500;
            border-color: $white;
        }
    }
}