/*
*   Template name v1.0.0
*   Themeforest portfolio (https://themeforest.net/user/mironcoder/portfolio)
*   Service center (https://www.fiverr.com/mironcoder)
*   Support email (mironcoder@gmail.com)
*   All copyrights reserved by Mironcoder
*/
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  color: #5e5d72;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #403e57;
}

html,
body {
  color: #5e5d72;
  background: #ffffff;
  direction: ltr;
  scroll-behavior: smooth;
}

input,
select,
button,
textarea {
  border: none;
  outline: none;
  background: none;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  line-height: 0px;
  color: #5e5d72;
}

@media (max-width: 991px) {
  .content-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

input,
textarea {
  font-size: 16px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

p {
  line-height: 1.8;
}

.mc-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 2px;
  margin-right: 55px;
}

.mc-logo img {
  height: 45px;
}

.mc-logo span {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #403e57;
}

.mc-btn {
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 6px;
  text-transform: uppercase;
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 14px 22px;
  letter-spacing: 0.3px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #2255bb;
  -webkit-box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.12);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-btn:hover {
  color: #ffffff;
  background-color: rgba(34, 85, 187, 0.8);
}

.mc-btn i {
  font-size: 18px;
}

.mc-btn.h-sm {
  height: 40px;
}

.mc-btn.h-md {
  height: 45px;
}

.mc-btn.h-lg {
  height: 50px;
}

.mc-btn.h-xl {
  height: 55px;
}

.mc-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.mc-breadcrumb-title {
  text-transform: capitalize;
}

.mc-breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0px;
}

.mc-breadcrumb-item {
  color: #9a9a9a;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.mc-breadcrumb-link {
  color: #2255bb;
}

.mc-breadcrumb-link::after {
  content: "~";
  margin: 0px 8px;
  color: #5e5d72;
}

.mc-dots {
  position: relative;
  line-height: 0px;
}

.mc-dots-list {
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  right: 30px;
  z-index: 3;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.12);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-dots-list.top {
  bottom: 0px;
}

.mc-dots-list.bottom {
  top: 0px;
}

.mc-dots-btn {
  width: 100%;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 6px;
  white-space: nowrap;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 5px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-dots-btn:hover {
  background-color: #f0f0f0;
}

.mc-dots-btn i {
  font-size: 18px;
}

.recharts-text {
  font-size: 14px;
}

.recharts-tooltip-wrapper {
  padding: 30px;
}

.recharts-tooltip-label {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #5e5d72;
  text-transform: uppercase;
}

.recharts-tooltip-item-name,
.recharts-tooltip-item-value {
  font-size: 15px;
  font-weight: 500;
  color: #2255bb;
}

.recharts-legend-item-text {
  font-size: 14px;
  text-transform: capitalize;
}

.mc-table {
  width: 100%;
  border-collapse: collapse;
}

.mc-table.product-table tr th:first-child, .mc-table.product-table tr td:first-child {
  max-width: 90px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.mc-table.product-table tr th:nth-child(2), .mc-table.product-table tr td:nth-child(2) {
  max-width: 180px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.mc-table .primary {
  color: #ffffff;
  background-color: #2255bb;
}

.mc-table .primary tr th {
  padding: 12px 15px;
  border-right: 1px solid #2262d3;
}

.mc-table .primary tr th:last-child {
  border-right: none;
}

.mc-table .even tr:nth-child(even) {
  background-color: #f8f8f8;
}

.mc-table .odd tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.mc-table-head {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.mc-table-head tr th {
  max-width: 120px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 15px 15px;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #f0f0f0;
}

.mc-table-head tr th:last-child {
  border-right: none;
}

.mc-table-body tr td {
  max-width: 120px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  color: #5e5d72;
}

.mc-table-body tr td:last-child {
  border-right: none;
}

.mc-table-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 12px;
}

.mc-table-check input {
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  outline: 2px solid #f0f0f0;
}

.mc-table-check p {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mc-table-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 5px;
}

.mc-table-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mc-table-profile p {
  min-width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mc-table-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 8px;
}

.mc-table-product img {
  width: 45px;
  height: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.06);
}

.mc-table-product p {
  margin-bottom: 3px;
  line-height: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mc-table-group {
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mc-table-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 1px;
}

.mc-table-review i {
  font-size: 14px;
  color: #edb213;
}

.mc-table-review span {
  font-size: 12px;
  color: #9a9a9a;
}

.mc-table-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 10px;
}

.mc-table-icon i {
  color: #2255bb;
}

.mc-table-icon p {
  font-weight: 500;
  text-transform: capitalize;
}

.mc-table-role {
  font-weight: 500;
  line-height: 22px;
  border-radius: 6px;
  padding: 0px 8px 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mc-table-role.admin {
  color: #be0ee1;
  background: #fbe5ff;
}

.mc-table-role.client {
  color: #2b77e5;
  background: #dcedfd;
}

.mc-table-role.member {
  color: #1a9f53;
  background: #ddfbe9;
}

.mc-table-role.vendor {
  color: #e1940e;
  background: #fcf7c9;
}

.mc-table-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.mc-table-action button {
  font-size: 16px;
  padding: 6px 6px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

.mc-table-action button:nth-child(1) {
  color: #be0ee1;
  background-color: #fbe5ff;
}

.mc-table-action button:nth-child(2) {
  color: #1a9f53;
  background-color: #ddfbe9;
}

.mc-table-action button:nth-child(3) {
  color: #f11133;
  background-color: #ffdfe4;
}

.mc-paginate {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.mc-paginate-title {
  font-size: 14px;
  font-weight: 500;
}

.mc-paginate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 8px;
}

.mc-paginate-item {
  cursor: pointer;
  background-color: #f0f0f0;
  width: 35px;
  height: 35px;
  line-height: 34px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-paginate-item i {
  line-height: 34px;
}

.mc-paginate-item:hover {
  color: #ffffff;
  background: #2255bb;
}

.mc-paginate-item.active {
  color: #ffffff;
  background: #2255bb;
}

.mc-field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.mc-field-group.label-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.mc-field-group.label-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.mc-field-group.label-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.mc-field-group.label-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.mc-field-label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #403e57;
}

.mc-field-select {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 8px;
  padding: 0px 15px;
  background-image: url(../images/dropdown.svg);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 12px;
  background-color: #f0f0f0;
  border: 1px solid #e4e4e4;
  color: #5e5d72;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.mc-field-select.w-sm {
  width: 80px;
}

.mc-field-select.w-md {
  width: 120px;
}

.mc-field-select.w-lg {
  width: 160px;
}

.mc-field-select.w-xl {
  width: 200px;
}

.mc-field-select.w-100 {
  width: 100%;
}

.mc-field-select.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mc-field-select.h-sm {
  height: 40px;
}

.mc-field-select.h-md {
  height: 45px;
}

.mc-field-select.h-lg {
  height: 50px;
}

.mc-field-select.h-xl {
  height: 55px;
}

input[type="text"].mc-field-input,
input[type="email"].mc-field-input,
input[type="password"].mc-field-input,
input[type="number"].mc-field-input {
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f0f0f0;
  border: 1px solid #e4e4e4;
  color: #5e5d72;
}

input[type="text"].mc-field-input.w-sm,
input[type="email"].mc-field-input.w-sm,
input[type="password"].mc-field-input.w-sm,
input[type="number"].mc-field-input.w-sm {
  width: 200px;
}

input[type="text"].mc-field-input.w-md,
input[type="email"].mc-field-input.w-md,
input[type="password"].mc-field-input.w-md,
input[type="number"].mc-field-input.w-md {
  width: 300px;
}

input[type="text"].mc-field-input.w-lg,
input[type="email"].mc-field-input.w-lg,
input[type="password"].mc-field-input.w-lg,
input[type="number"].mc-field-input.w-lg {
  width: 400px;
}

input[type="text"].mc-field-input.w-xl,
input[type="email"].mc-field-input.w-xl,
input[type="password"].mc-field-input.w-xl,
input[type="number"].mc-field-input.w-xl {
  width: 500px;
}

input[type="text"].mc-field-input.w-100,
input[type="email"].mc-field-input.w-100,
input[type="password"].mc-field-input.w-100,
input[type="number"].mc-field-input.w-100 {
  width: 100%;
}

input[type="text"].mc-field-input.w-fit,
input[type="email"].mc-field-input.w-fit,
input[type="password"].mc-field-input.w-fit,
input[type="number"].mc-field-input.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="text"].mc-field-input.h-sm,
input[type="email"].mc-field-input.h-sm,
input[type="password"].mc-field-input.h-sm,
input[type="number"].mc-field-input.h-sm {
  height: 40px;
}

input[type="text"].mc-field-input.h-md,
input[type="email"].mc-field-input.h-md,
input[type="password"].mc-field-input.h-md,
input[type="number"].mc-field-input.h-md {
  height: 45px;
}

input[type="text"].mc-field-input.h-lg,
input[type="email"].mc-field-input.h-lg,
input[type="password"].mc-field-input.h-lg,
input[type="number"].mc-field-input.h-lg {
  height: 50px;
}

input[type="text"].mc-field-input.h-xl,
input[type="email"].mc-field-input.h-xl,
input[type="password"].mc-field-input.h-xl,
input[type="number"].mc-field-input.h-xl {
  height: 55px;
}

.mc-filter-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
  margin-bottom: 25px;
}

.mc-filter-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0px 12px;
}

.mc-card {
  padding: 22px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-card:hover {
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.06);
}

.mc-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
  margin-bottom: 28px;
}

.mc-card-title {
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.mc-sales-card-head {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.mc-sales-card-head h3 {
  color: #2255bb;
  font-size: 26px;
}

.mc-sales-card-head h3 span {
  display: block;
  color: #403e57;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}

.mc-sales-card-chart .recharts-layer text {
  font-size: 14px;
  font-weight: 500;
  fill: #ffffff;
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.08);
}

.mc-hero-card {
  position: relative;
  z-index: 1;
  padding: 22px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-hero-card:hover {
  -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
}

.mc-hero-card.green {
  background: -webkit-gradient(linear, right top, left top, from(#4eda89), to(#1a9f53));
  background: linear-gradient(to left, #4eda89, #1a9f53);
}

.mc-hero-card.green .mc-hero-card-icon {
  color: #89ecb3;
  background: -webkit-gradient(linear, left top, left bottom, from(#27bf68), to(#1a9f53));
  background: linear-gradient(#27bf68, #1a9f53);
}

.mc-hero-card.green .mc-hero-card-trend {
  color: #1a9f53;
}

.mc-hero-card.green .mc-hero-card-compare mark {
  background-color: #187d44;
}

.mc-hero-card.green .mc-dots-icon {
  color: #187d44;
}

.mc-hero-card.purple {
  background: -webkit-gradient(linear, right top, left top, from(#ed68ff), to(#be0ee1));
  background: linear-gradient(to left, #ed68ff, #be0ee1);
}

.mc-hero-card.purple .mc-hero-card-icon {
  color: #f3a0ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#de2fff), to(#be0ee1));
  background: linear-gradient(#de2fff, #be0ee1);
}

.mc-hero-card.purple .mc-hero-card-trend {
  color: #be0ee1;
}

.mc-hero-card.purple .mc-hero-card-compare mark {
  background-color: #a808c3;
}

.mc-hero-card.purple .mc-dots-icon {
  color: #a808c3;
}

.mc-hero-card.blue {
  background: -webkit-gradient(linear, right top, left top, from(#64b3f6), to(#2b77e5));
  background: linear-gradient(to left, #64b3f6, #2b77e5);
}

.mc-hero-card.blue .mc-hero-card-icon {
  color: #96cefa;
  background: -webkit-gradient(linear, left top, left bottom, from(#4094f1), to(#2b77e5));
  background: linear-gradient(#4094f1, #2b77e5);
}

.mc-hero-card.blue .mc-hero-card-trend {
  color: #2b77e5;
}

.mc-hero-card.blue .mc-hero-card-compare mark {
  background-color: #2262d3;
}

.mc-hero-card.blue .mc-dots-icon {
  color: #2262d3;
}

.mc-hero-card.yellow {
  background: -webkit-gradient(linear, right top, left top, from(#f4d02b), to(#e1940e));
  background: linear-gradient(to left, #f4d02b, #e1940e);
}

.mc-hero-card.yellow .mc-hero-card-icon {
  color: #f6e053;
  background: -webkit-gradient(linear, left top, left bottom, from(#edb213), to(#e1940e));
  background: linear-gradient(#edb213, #e1940e);
}

.mc-hero-card.yellow .mc-hero-card-trend {
  color: #e1940e;
}

.mc-hero-card.yellow .mc-hero-card-compare mark {
  background-color: #ae640f;
}

.mc-hero-card.yellow .mc-dots-icon {
  color: #ae640f;
}

.mc-hero-card-trend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  font-size: 150px;
  opacity: 0.8;
}

.mc-hero-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
  margin-bottom: 30px;
}

.mc-hero-card-meta {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.mc-hero-card-meta span {
  color: #ffffff;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  display: block;
}

.mc-hero-card-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  text-align: center;
  font-size: 28px;
}

.mc-hero-card-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.mc-hero-card-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 5px;
  color: #ffffff;
}

.mc-hero-card-compare mark {
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.mc-hero-card-compare span {
  font-size: 14px;
  text-transform: capitalize;
}

.mc-country-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
  border-top: 1px solid #f0f0f0;
  padding: 20px 0px;
}

.mc-country-item div {
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 15px;
}

.mc-country-item img {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.mc-country-item h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.mc-country-item h6 span {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #818181;
}

.mc-header {
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px;
}

.mc-header.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.mc-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0px 50px;
}

.mc-header-action i {
  font-size: 30px;
  color: #454258;
}

.mc-header-search {
  width: 280px;
  padding: 0px 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0px;
}

.mc-header-search button {
  color: #454258;
  margin-right: 15px;
  padding-right: 13px;
  border-right: 1px solid #d1d1d1;
}

.mc-header-search input {
  height: 40px;
}

.mc-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0px 18px;
}

.mc-header-icon {
  position: relative;
}

.mc-header-icon i {
  font-size: 20px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 50%;
  text-align: center;
  color: #454258;
  background-color: #f0f0f0;
}

.mc-header-icon sup {
  position: absolute;
  top: -12px;
  right: -8px;
  z-index: 1;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 9px 4px;
  border-radius: 15px;
  color: #ffffff;
  background: #2255bb;
  border: 3px solid #ffffff;
}

.mc-header-user-group {
  position: relative;
}

.mc-header-user-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 7px;
}

.mc-header-user-menu::after {
  content: "\e5c5";
  font-size: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Material Icons';
  margin-left: -5px;
  color: #454258;
}

.mc-header-user-image {
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #2255bb;
}

.mc-header-user-image img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid transparent;
}

.mc-header-user-meta h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.mc-header-user-meta h4 {
  font-size: 12px;
  font-weight: 500;
  color: #5e5d72;
}

.mc-header-user-list {
  padding: 10px;
  min-width: 185px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 75px;
  right: 25px;
  z-index: 3;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-header-user-list.hide {
  visibility: hidden;
  opacity: 0;
}

.mc-header-user-list.show {
  -webkit-transform-origin: top;
          transform-origin: top;
  visibility: visible;
  opacity: 1;
}

.mc-header-user-link {
  padding: 7px 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 10px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-header-user-link:hover {
  color: #2255bb;
  background-color: #f8f8f8;
}

.mc-header-user-link i {
  font-size: 20px;
}

.mc-header-user-link span {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}

.mc-sidebar {
  position: fixed;
  top: 75px;
  left: 0px;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
  padding-left: 20px;
  width: 270px;
  overflow-y: scroll;
  height: calc(100vh - 75px);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-sidebar.hide {
  left: -270px;
}

.mc-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #2255bb;
}

.mc-sidebar::-webkit-scrollbar {
  width: 3px;
}

.mc-sidebar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: transparent;
}

.mc-sidebar-menu {
  margin-bottom: 22px;
}

.mc-sidebar-menu-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #b4b4b4;
}

.mc-sidebar-menu-item {
  margin-bottom: 3px;
}

.mc-sidebar-menu-item.active .mc-sidebar-menu-btn {
  color: #2255bb;
  background-color: rgba(34, 85, 187, 0.1);
}

.mc-sidebar-menu-btn {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0px 12px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-sidebar-menu-btn i {
  font-size: 22px;
}

.mc-sidebar-menu-btn span {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
}

.mc-sidebar-menu-btn sup {
  color: #ffffff;
  padding: 0px 5px;
  line-height: 18px;
  border-radius: 3px;
  letter-spacing: 0.3px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.mc-sidebar-menu-btn sup.red {
  background: #ff304f;
}

.mc-sidebar-menu-btn sup.blue {
  background: #4094f1;
}

.mc-sidebar-menu-btn sup.green {
  background: #27bf68;
}

.mc-sidebar-menu-btn::after {
  content: "\e5cc";
  font-size: 20px;
  font-family: 'Material Icons';
}

.mc-sidebar-menu-btn:hover {
  background-color: #f0f0f0;
}

.mc-sidebar-dropdown-list {
  margin: 0px 20px;
  padding: 7px 0px;
  border-left: 1px solid #e4e4e4;
}

.mc-sidebar-dropdown-item.active .mc-sidebar-dropdown-link {
  color: #2255bb;
}

.mc-sidebar-dropdown-item.active .mc-sidebar-dropdown-link::before {
  opacity: 1;
}

.mc-sidebar-dropdown-link {
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 20px;
  margin: 4px 0px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-sidebar-dropdown-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  z-index: 1;
  width: 2px;
  height: 100%;
  background-color: #2255bb;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-sidebar-dropdown-link:hover {
  color: #2255bb;
}

.mc-sidebar-dropdown-link:hover::before {
  opacity: 1;
}

.mc-sidebar-logout {
  padding: 45px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 85, 187, 0.25)), to(rgba(34, 85, 187, 0.4)));
  background: linear-gradient(rgba(34, 85, 187, 0.25), rgba(34, 85, 187, 0.4));
  position: relative;
  overflow: hidden;
}

.mc-sidebar-logout::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 85, 187, 0.25)), to(rgba(34, 85, 187, 0.4)));
  background: linear-gradient(rgba(34, 85, 187, 0.25), rgba(34, 85, 187, 0.4));
}

.mc-sidebar-logout::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -10px;
  z-index: 1;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 85, 187, 0.24)), to(rgba(34, 85, 187, 0.4)));
  background: linear-gradient(rgba(34, 85, 187, 0.24), rgba(34, 85, 187, 0.4));
}

.mc-sidebar-logout .mc-btn {
  margin: 0 auto;
}

.mc-main {
  padding: 24px;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin-top: 75px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 270px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mc-main.hide {
  margin-left: 20px;
}

.mc-footer {
  width: 100%;
  font-size: 14px;
  margin-top: 24px;
  text-align: center;
}
