.mc-docs {
    padding: 30px 20px;

    @include mobile-breakpoint {
        padding: 15px 0px;
    }

    h3 {
        @include text-font(20px, 600);
        margin-bottom: 20px;
        text-transform: inherit;

        @include tablet-breakpoint {
            white-space: inherit;
        }
    }

    b {
        font-weight: 600;
    }

    img {
        margin: 12px;
        height: 180px;
        border-radius: 8px;

        @include tablet-breakpoint {
            width: 90%;
            height: auto;
        }
    }
}