.mc-scroll-animation {
    animation: scrollAnimation 20s linear infinite;

    &:hover {
        animation-play-state: paused;
    }

    @keyframes scrollAnimation {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }
}

.mc-blink-animation {
    animation: blinkAnimation .95s linear infinite;

    @keyframes blinkAnimation {
        0% { background: $primary; }
        50% { background: $primary-light; }
        100% { background: $primary; }
    }
}

.mc-shadow-animation {
    animation: shadowAnimation 2s linear infinite;

    @keyframes shadowAnimation {
        0% { box-shadow: 0px 0px 0px 0px rgba($white, 0.8), 0px 0px 0px 0px rgba($white, 0.8)}
        30% { box-shadow: 0px 0px 0px 20px rgba($black, 0.0), 0px 0px 0px 0px rgba($white, 0.8)}
        60% { box-shadow: 0px 0px 0px 20px rgba($black, 0.0), 0px 0px 0px 15px rgba($black, 0.0)}
        100% { box-shadow: 0px 0px 0px 0px rgba($black, 0.0), 0px 0px 0px 15px rgba($black, 0.0)}
    }
}