.mc-marquee-group {
    @include flex-dimension (center, flex-start, initial);
    @include custom-breakpoint (576px, 991px) {
        margin-bottom: 10px;
    }
}

.mc-marquee-title {
    color: $white;
    width: max-content;
    text-transform: capitalize;
    padding-#{$end-direction}: 12px;
    border-#{$end-direction}: 2px solid $primary-light;
}

.mc-marquee {
    width: 100%;
    overflow: hidden;
}

.mc-marquee-text {
    color: $white;
    width: max-content;
    padding-#{$start-direction}: 100%;
}
