.mc-section-120 {
    margin-bottom: 120px;
}

.mc-section-group {
    @include flex-dimension (center, space-between, 0px 25px);
    margin-bottom: 45px;
}

.mc-section-content {
    max-width: 600px;
}

.mc-section-title {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-#{$start-direction}: 3px;
    display: block;
    color: $primary;
    margin-bottom: 10px;
}






.section-gap-100 {
    margin-bottom: 100px;
}

.section-side {
    @include flex-dimension(center, space-between, 30px);
    margin-bottom: 45px;
}

.section-center {
    @include flex-dimension(center, center, 30px);
    text-align: center;
    margin-bottom: 45px;
}

.section-content {
    max-width: 600px;

    .btn { margin-top: 45px; }
}

.section-subtitle {
    @include text-font(16px, 700);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-#{$start-direction}: 3px;
    display: block;
    color: $primary;
    margin-bottom: 10px;
}

.section-descrip { 
    margin-top: 18px; 
}

@media (max-width: 575px) {
    .section-gap-120,
    .section-gap-100 {
        margin-bottom: 60px;
    }

    .section-side {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-gap-120,
    .section-gap-100 {
        margin-bottom: 80px;
    }

    .section-side {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-gap-120,
    .section-gap-100 {
        margin-bottom: 100px;
    }
}