.mc-tabs {
    border: none;
    margin-bottom: 50px;

    .nav-link {
        border: none;
        padding: 20px 25px;
        border-radius: 8px;
        @include text-font(15px, 500);
        text-transform: capitalize;
        color: $heading;

        &:hover {
            color: $primary;
            background-color: rgba($primary, 0.1);
        }

        &.active {
            border: none;
            color: $white;
            background-color: $primary;
        }
    }
}

.mc-tabpane {
    padding: 0px 30px 30px;

    .mc-icon-field {
        background-color: $gray-200;
        border-color: $gray-400;
        margin-bottom: 0px;

        &:focus-within { border-color: $primary; }
    }

    &.settings {
        .form-check {
            margin-bottom: 15px;
        }
    }

}
