.mc-header {
    width: 100%;
    padding: 15px 20px;
    @include position-top-left(fixed, 0px, 0px, 5);
    @include flex-dimension(center, space-between, 0px);

    &.sticky {
        backdrop-filter: blur(5px);
    }

    @include laptop-breakpoint {
        gap: 0px 18px;
    }

    @include tablet-breakpoint {
        gap: 0px 15px;
    }

    @include mobile-breakpoint {
        gap: 0px 10px;
    }

    .mc-logo {
        @include laptop-breakpoint { flex-grow: 1; }
        img { @include custom-breakpoint(0px, 500px) { height: 38px; } }
        span { @include custom-breakpoint(0px, 500px) { display: none; } }
    }
}

.mc-header-left {
    @include flex-dimension(center, flex-start, 0px 50px);
    margin-#{$start-direction}: -150px;

    @include desktop-breakpoint {
        margin-#{$start-direction}: 0px;
    }

    @include laptop-breakpoint {
        gap: 0px 18px;
    }

    @include tablet-breakpoint {
        gap: 0px 15px;
    }

    @include mobile-breakpoint {
        gap: 0px 10px;
    }

    .mc-header-icon { 
        &.search {
            display: none;

            @include tablet-breakpoint {
                display: block;
            }
        }

        &.toggle {
            i {
                font-size: 22px; 

                @include mobile-breakpoint {
                    font-size: 20px; 
                }
            }
        }
    }
}

.mc-header-search {
    width: 280px;
    padding: 0px 12px;
    border-radius: 8px;
    @include flex-dimension(center, flex-start, 0px);
    @include transition-linear;

    @include tablet-breakpoint {
        display: none;
    }

    button {
        margin-#{$end-direction}: 12px;
        padding-#{$end-direction}: 10px;
        border-#{$end-direction}: 1px solid;
        @include transition-linear;
    }

    input {
        height: 40px;
        width: 100%;
    }
}

.mc-header-right {
    @include flex-dimension(center, flex-end, 0px 18px);

    .mc-dropdown-paper {
        margin-top: 15px;
    }

    @include laptop-breakpoint {
        .mc-header-icon {
            &.cart,
            &.message,
            &.notify {
                display: none;
            }
        }
    }

    @include tablet-breakpoint {
        gap: 0px 15px;
    }

    @include mobile-breakpoint {
        gap: 0px 10px;
    }
}

.mc-header-icon {
    position: relative;

    i {
        font-size: 18px;
        @include content-center(38px, 38px, 50%);
        @include transition-linear;

        @include mobile-breakpoint {
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 18px;
        }
    }

    sup {
        @include position-top-right(absolute, -12px, -8px, 1);
        @include text-font(10px, 500);
        padding: 8px 4px 9px;
        border-radius: 15px;
        border: 3px solid;

        &.red { background: $red-600; }
        &.blue { background: $blue-600; }
        &.green { background: $green-600; }
        &.primary { background: $primary; }
    }
}

.mc-header-language {
    width: 180px;
    padding: 12px 13px;
    border-radius: 8px;
    @include flex-dimension(center, start, 10px);
    @include transition-linear;
    position: relative;

    &:hover {
        background-color: $gray-100;
    }

    &.active {
        &::before {
            content: "\e5ca";
            font-weight: 900;
            font-family: 'Material Icons';
            @include position-top-right(absolute, 50%, 13px, 1);
            transform: translateY(-50%);
        }
    }

    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 0px rgba($black, 15%)
    }

    span {
        @include text-font(14px, 500);
        text-transform: capitalize;
    }
}

.mc-header-user {
    position: relative;

    .mc-dropdown-toggle {
        @include flex-dimension(center, center, 0px 7px);
    
        &.dropdown-toggle {
            &::after {
                content: "";
                display: inherit;
                margin-left: inherit;
                vertical-align: inherit;
                align-self: flex-start;
                margin-top: 7px;
                border-radius: 5px;
                border-bottom: 0;
                border-top: 5px solid;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
    }

    .mc-dropdown-paper {
        margin: 15px;
    }

    .mc-dropdown-menu {
        padding: 6px 10px;
        border-radius: 8px;
        gap: 10px;

        i { font-size: 20px; }
    
        span {
            text-transform: capitalize;
            @include text-font(15px, 500);
        }

        &:last-child {  color: $red-600; }
    }
}


