.mc-sidebar {
    @include position-top-left(fixed, 75px, -270px, 3);
    @include padding(20px, 17px, 20px, 20px);
    width: 270px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
    @include transition-linear;

    @include laptop-breakpoint {
        z-index: 5;
        background: $white;
        border-#{$end-direction}: 1px solid $gray-200;
    }

    &.active {
        #{$start-direction}: 0px;
    }

    &:hover { 
        &::-webkit-scrollbar-thumb { 
            background-color: $primary; 
        }
    }
    &::-webkit-scrollbar { 
        width: 3px;
    }
    &::-webkit-scrollbar-thumb { 
        border-radius: 15px;
        background-color: transparent; 
    }
}

.mc-sidebar-menu {
    margin-bottom: 25px;
}

.mc-sidebar-menu-title {
    @include text-font(13px, 500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: $gray-600;
}

.mc-sidebar-menu-item {
    margin-bottom: 3px;

    &.focused {
        .mc-sidebar-menu-btn  {
            color: $primary;
            background-color: rgba($primary, 0.1);

            i { color: $primary; }
        }
    }
    
    &.active {
        .mc-sidebar-menu-btn  {
            color: $primary;
            background-color: rgba($primary, 0.1);

            i { color: $primary; }
            small { transform: rotate(0deg); }
        }

        .mc-sidebar-dropdown-list {
            height: auto;
            overflow: visible;
            padding: 10px 0px;
        }
    }
}

.mc-sidebar-menu-btn {
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    @include flex-dimension(center, start, 0px 12px);
    @include transition-linear;

    &:hover {
        background-color: $gray-200;
    }

    i { 
        font-size: 22px; 
        color: $gray-700;
        @include transition-linear;
    }

    span {
        @include text-font(15px, 500);
        text-transform: capitalize;
        text-align: $start-direction;
        flex-grow: 1;
    }

    sup {
        color: $white;
        line-height: 18px;
        letter-spacing: 0.3px;
        @include text-font(10px, 600);
        text-transform: uppercase;

        &.square {
            padding: 0px 5px 1px;
            border-radius: 4px;
        }

        &.round {
            border-radius: 15px;
            padding: 0px 4px 1px;
        }

        &.red { background: $red-600; }
        &.blue { background: $blue-600; }
        &.green { background: $green-600; }
        &.purple { background: $purple-600; }
        &.yellow { background: $yellow-600; }
        &.primary { background: $primary; }
    }

    small {
        font-size: 20px;
        transform: rotate(-90deg);
        @include transition-linear;
    }
}

.mc-sidebar-dropdown-list {
    height: 0px;
    overflow: hidden;
    margin: 0px 20px;
    border-#{$start-direction}: 1px solid $gray-300;
    @include transition-linear;
}

.mc-sidebar-dropdown-item {
    &.active {
        .mc-sidebar-dropdown-link {
            color: $primary;

            &::before {
                opacity: 1;
            }
        }
    }
}

.mc-sidebar-dropdown-link {
    width: 100%;
    font-size: 15px;
    position: relative;
    text-transform: capitalize;
    padding-#{$start-direction}: 20px;
    margin: 6px 0px;
    @include transition-linear;

    &::before {
        content: "";
        @include position-top-left(absolute, 0px, -1px, 1);
        width: 2px;
        height: 100%;
        background-color: $primary;
        opacity: 0;
        @include transition-linear;
    }

    &:hover {
        color: $primary;

        &::before { opacity: 1; }
    }
}

.mc-sidebar-logout {
    padding: 45px;
    border-radius: 8px;
    background: linear-gradient(rgba($primary, 0.25), rgba($primary, 0.40));
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        @include position-top-left(absolute, 15px, 15px, 1);
        @include content-center(30px, 30px, 50%);
        background: linear-gradient(rgba($primary, 0.25), rgba($primary, 0.40));
    }

    &::after {
        content: "";
        @include position-top-right(absolute, -40px, -10px, 1);
        @include content-center(80px, 80px, 50%);
        background: linear-gradient(rgba($primary, 0.24), rgba($primary, 0.40));
    }

    .mc-btn {
        margin: 0 auto;
    }
}