.mc-card {
    padding: 22px;
    border-radius: 8px;
    background-color: $white;
    border: 1px solid $gray-200;
    @include transition-linear;

    &:hover {
        box-shadow: 0px 15px 25px 0px rgba($black, 0.06);
    }
}

.mc-card-head {
    @include flex-dimension(center, space-between, 0px);
    margin-bottom: 28px;
}

.mc-card-title {
    @include text-font(17px, 600);
    text-transform: capitalize;
}