.mc-country-list {
    margin-bottom: 5px;
}

.mc-country-item {
    @include flex-dimension(center, space-between, 0px);
    border-top: 1px solid $gray-200;
    padding: 20px 0px;

    div {
        width: 135px;
        @include flex-dimension(center, start, 0px 15px);
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 8px;
        box-shadow: 0px 3px 10px 0px rgba($black, 0.15);
    }

    h6 {
        @include text-font(14px, 600);
        text-transform: capitalize;

        span {
            display: block;
            @include text-font(13px, 500);
            margin-bottom: 3px;
            color: $gray-700;
        }
    }
}