.mc-sales-card-head {
    margin-bottom: 18px;
    @include flex-dimension(start, space-between, 0px);

    h3 {
        color: $primary;
        font-size: 26px;

        span {
            display: block;
            color: $heading;
            margin-bottom: 8px;
            @include text-font(17px, 600);
            text-transform: capitalize;
        }
    }
}

.mc-sales-card-chart {
    .recharts-layer {
        text {
            @include text-font(14px, 500);
            fill: $white;
            text-shadow: 2px 3px 7px rgba($black, 0.08);
        }
    }
}