.dark_mode {
    //=======================================
    //          GLOBALS THEME COLOR 
    //=======================================
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 { color: $gray-300; }
    a { color: $gray-500;  }
    button { color: $gray-500; }

    html, 
    body {
        color: $gray-500;
        background: $dark-500; 
    }

    input,
    textarea {
        &::placeholder {
           color: $gray-500;
        }
    }

    //=======================================
    //        COMPONENTS THEME COLOR 
    //=======================================
    .mc-alert button { border-color: $dark-400; }

    .mc-breadcrumb-item {
        color: $gray-600;
        &::after { color: $gray-600; }
    }

    .mc-breadcrumb-link {
        color: $blue-600;
        &:hover { color: $blue-600; }
    }

    .mc-btn {
        color: $white;
        &:hover { color: $white; }
    }

    .btn {
        color: $white;
        &:hover { color: $white; }
    }
    
    .mc-divide-title {
        &::after { background-color: $dark-300; }
    }
    
    .mc-dropdown-paper {
        border-color: $dark-200;
        background-color: $dark-400;
    }

    .mc-dropdown-menu {
        &:hover { background-color: $dark-100; }
    }

    .mc-label-field-input,
    .mc-label-field-select,
    .mc-label-field-textarea {
        color: $gray-500;
        border-color: $dark-300;
        background-color: $dark-400;
    }

    .mc-icon-field {
        background-color: $dark-500;
        border-color: $dark-300;

        &:focus-within {
            border-color: $blue-600;
            i { color: $blue-600; }
        }

        &.gray {
            color: $gray-500;
            border-color: $dark-200;
            background-color: $dark-500;

            &:focus-within {
                border-color: $blue-600;
                i { color: $blue-600; }
            }
        }

        &.white {
            color: $gray-500;
            border-color: $dark-300;
            background-color: $dark-500;

            &:focus-within {
                border-color: $blue-600;
                i { color: $blue-600; }
            }
        }

        input,
        select,
        textarea {
            color: $gray-500;
            background-color: $dark-500;
        }

        i,
        button { color: $gray-500; }
    }
    
    .mc-fieldset {
        background-color: $dark-400;
        border-color: $gray-800;

        &:focus-within {
            border-color: $blue-600;
            legend { color: $blue-600; }
        }

        input,
        select,
        textarea {
            color: $gray-300;
            background-color: transparent;
        }

        select { background-color: $dark-400; }
    }

    .mc-file-upload {
        color: $gray-300;
        background-color: $dark-300;

        &:hover {
            color: $white;
            background-color: $blue-600;
        }
    }

    .form-label {
        color: $gray-300;
    }

    .form-select,
    .form-control {
        color: $gray-500;
        border-color: $dark-200;
        background-color: $dark-400;

        &:focus-within {
            border-color: $dark-200;
            background-color: $dark-400;
        }
    }

    .form-control[type=file]::-webkit-file-upload-button,
    .form-control[type=file]::file-selector-button {
        color: $gray-500;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(0.8);
        cursor: pointer;
    }

    input[type=search]::-webkit-search-cancel-button {
        filter: invert(0.8);
        cursor: pointer;
    }

    .form-btn {
        color: $white;
        background-color: $blue-600;

        &:hover {
            color: $white;
            background-color: rgba($blue-600, 0.8);
        }
    }

    .mc-logo-group {
        span { color: $blue-600; }
    }

    .modal {
        background-color: rgba($black, 0.5);
    }

    .modal-content {
        background-color: $dark-500;
    }

    .modal-close {
        i {
            color: $black;
            background: $white;

            &:hover {
                color: $white;
                background: $red-600;
            }
        }
    }

    .modal-title { color: $gray-300; }

    .mc-user-modal {
        img { border-color: $dark-500; }
    }

    .mc-alert-modal {
        i {
            color: $red-700;
            background-color: $dark-500;
        }
    }

    .mc-paginate-item {
        background-color: $dark-400;

        &:hover {
            color: $white;
            background: $blue-600;
        }

        &.active {
            color: $white;
            background: $blue-600;
        }
    }

    .mc-round-avatar {
        border-color: $blue-600;
    }

    .mc-table-head {
        border-color: $dark-300;

        &.gray { background-color: $dark-300; }
        tr th { border-color: $dark-300; }
    }

    .mc-table-body {
        tr td { 
            border-color: $dark-300; 
        }

        &.even {
            tr {
                &:nth-child(even) {
                    background-color: $dark-400;
                }
            }
        }
    
        &.odd {
            tr {
                &:nth-child(odd) {
                    background-color: $dark-400;
                }
            }
        }
    }

    .mc-table-check {
        input { outline-color: $dark-100; }
    }
    
    .mc-table-product {
        img { border-color: transparent }
    }

    .mc-table-review {
        span { color: $gray-600; }
    }
    
    .mc-table-action {
        a,
        button { 
            color: $gray-100;
            background-color: $dark-300;
            
            &.view { background-color: $purple-600; }
            &.edit { background-color: $green-600; }
            &.chat { background-color: $green-600; }
            &.delete { background-color: $red-600; }
            &.block { background-color: $red-600; }
            &.download { background-color: $blue-600; }
        }
    }

    .mc-tabs {
        .nav-link {
            color: $gray-300;

            &:hover {
                color: $blue-600;
                background-color: rgba($blue-600, 0.1);
            }

            &.active {
                border: none;
                color: $white;
                background-color: $blue-600;
            }
        }
    }

    .mc-tabpane {
        .mc-icon-field {
            border-color: $dark-200;
            background-color: $dark-500;
            &:focus-within { border-color: $blue-600; }
        }
    }

    .thin-scrolling {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $blue-600; 
            }
        }
    }

    .mc-blank {
        i {
            background: -webkit-linear-gradient($dark-200, $dark-400);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }

        p { color: $gray-800; }
    }

    //=======================================
    //          ELEMENTS THEME COLOR 
    //=======================================
    .mc-activity-card-item {
        border-color: $dark-300;

        &:hover {
            border-color: $blue-600;
    
            &::before {
                background-color: $blue-600;
            }
        }

        &::before {
            border-color: $dark-200;
            background-color: $dark-500;
        }
    }

    .mc-analytics-card  {
        background-color: $dark-500;
    }

    .mc-analytics-card-group {
        .mc-dropdown-toggle  i { color: $gray-100; }
    }

    .mc-analytics-card-content {
        h3 { color: $white; }
        p { color: $gray-200; }
    }

    .mc-card {
        background-color: $dark-500;
        border-color: $dark-400;
    }

    .mc-countries-card-item {
        border-color: $dark-300;
        h6 span { color: $gray-600; }
    }

    .mc-crm-card {
        background-color: $dark-500;
        border-color: $dark-400;
    }

    .mc-devices-card-head  {
        .mc-icon-field {
            background-color: $dark-400;
            border-color: $dark-300;

            input,
            select,
            textarea { background-color: $dark-400; }
        }
    }

    .mc-ecommerce-card-meta { color: $white; }

    .mc-order-card-item { 
        border-color: $dark-300; 
        i { color: $blue-600; }
    }

    .mc-overview-label  {
        color: $white;
        border-color: $white;
        background: $blue-600;
    }

    .mc-overview-badge {
        color: $white;
        background: $red-600;
    }

    .mc-overview-overlay {
        background: rgba($black, 0.7);
    }

    .mc-overview-link {
        color: $white;
        background: $blue-600;
        &:hover { color: $white; }
    }

    .mc-overview-name {
        color: $blue-500;
    }

    .mc-revenue-card-header {
        .mc-icon-field {
            background-color: $dark-400;
            border-color: $dark-300;

            input,
            select,
            textarea { background-color: $dark-400; }
        }
    }

    .mc-revenue-card-report {
        h3 span { color: $gray-500; }
    }

    .mc-sales-card {
        .mc-card-title { color: $white; }
        .mc-dropdown-toggle i {  color: $gray-300; }
    }

    .mc-tab-card-title {
        &::after { background-color: $dark-200; }
    }

    //=======================================
    //          LAYOUTS THEME COLOR 
    //=======================================
    .mc-header {
        &.sticky {
            background-color: rgba($dark-500, 90%);
        }
    }

    .mc-header-search-group {
        @include laptop-breakpoint {
            background-color: rgba($dark-900, 90%);
        }
    }

    .mc-header-search {
        background-color: $dark-400;

        &:hover {
            background-color: $dark-300;
            button { color: $blue-600; }
        }

        input { color: $gray-400; }
        button { border-color: $dark-200; }
    }

    .mc-header-icon {
        i {
            color: $gray-500;
            background-color: $dark-400;

            &:hover {
                color: $blue-600;
                background-color: $dark-300;
            }
        }

        sup {
            color: $white;
            border-color: $dark-500;
        }
    }
    
    .mc-header-language {
        &:hover {
            background-color: $dark-100;
        }

        &.active {
            color: $blue-600;
            background-color: rgba($blue-600, 20%);

            &::before {
                color: $blue-600;
            }
        }
    }

    .mc-invoice-list-group {
        border-color: $dark-200;
    }

    .mc-invoice-list {
        li {
            &:last-child {
                border-color: $dark-200;
            }

            .digit { color: $gray-300; }
        }
    }

    .mc-main {
        background-color: $dark-600;
    }

    .mc-review-analytics-graph {
        background: $dark-200;
        span { background: $yellow-600; }
    }

    .mc-review-analytics-total {
        color: $gray-500;
    }

    .mc-review-analytics-star {
        i {
            color: $gray-200;
            &.active { color: $yellow-600; }
        }
    }

    .mc-review-data {
        background-color: $dark-400;
    }

    .mc-review-admin {
        color: $white;
        background-color: $dark-600;
    }

    .mc-review-star {
        i { color: $yellow-600; }
    }

    .mc-review-dots {
        .mc-dropdown-toggle {
            i {
                color: $gray-500;
                background: $dark-400;
        
                &:hover {
                    color: $white;
                    background: $blue-600;
                }
            }
        }
    }

    .mc-sidebar {
        @include laptop-breakpoint {
            background: $dark-500;
            border-color: $dark-300;
        }

        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $blue-600; 
            }
        }
    }

    .mc-sidebar-menu-title {
        color: $gray-800;
    }
    
    .mc-sidebar-menu-item {
        &.focused {
            .mc-sidebar-menu-btn  {
                color: $blue-600;
                background-color: rgba($blue-600, 20%);
                i { color: $blue-600; }
            }
        }

        &.active {
            .mc-sidebar-menu-btn  {
                color: $blue-600;
                background-color: rgba($blue-600, 20%);
                i { color: $blue-600; }
            }
        }
    }

    .mc-sidebar-menu-btn {
        &:hover { background-color: rgba($gray-900, 30%); }
        i { color: $gray-500; }
        sup { color: $white; }
    }

    .mc-sidebar-dropdown-list {
        border-color: $gray-900;
    }

    .mc-sidebar-dropdown-item {
        &.active {
            .mc-sidebar-dropdown-link {
                color: $blue-600;
            }
        }
    }

    .mc-sidebar-dropdown-link {
        &::before { background-color: $blue-600; }
        &:hover { color: $blue-600; }
    }

    //=======================================
    //          PAGES THEME COLOR 
    //=======================================
    .mc-analytics-group {
        .mc-icon-field {
            background-color: $gray-100;
            border-color: $gray-200;
        }
    }

    .mc-auth-form {
        background: $dark-400;
        border-color: $dark-200;
    }

    .mc-auth-forgot {
        &:hover { color: $blue-600; }
    }

    .mc-auth-btn {
        color: $white;
        background-color: $primary;
    }

    .mc-auth-divide {
        &::after { background: $dark-100; }

        span {
            color: $gray-500;
            background: $dark-500;
            border-color: $dark-100;
        }
    }

    .mc-auth-navigate {
        background: $dark-400;
        border-color: $dark-200;
        a { color: $blue-600; }
    }

    .mc-docs {
        b { color: $blue-600; }
    }

    .mc-message-user-filter {
        .mc-icon-field {
            background-color: $dark-500;
            &:focus-within { background-color: $dark-500; }
        }

        .mc-dropdown-toggle {
            i { background-color: $dark-400; }
        }
    }

    .mc-message-user-list {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $blue-600; 
            }
        }
    }

    .mc-message-user-item {
        &:hover { background-color: $dark-300; }
        &.active { background-color: rgba($blue-600, 0.1); }

        .mc-round-avatar {
            &::before {
                border-color: $dark-500;
                background-color: $gray-600;
            }

            &.online {
                &::before {
                    background-color: $green-600;
                }
            }
        }

        .mc-duel-text {
            &.unread {
                .mc-duel-text-descrip { color: $blue-600; }
            }
        }

        .mc-duel-text-title {
            small { color: $gray-500; }
        }

        sup {
            color: $white;
            background-color: $blue-600;
        }

        .mc-dropdown-toggle {
            i { background-color: $dark-300; }
        }
    }

    .mc-message-chat-header {
        border-color: $dark-300;

        .mc-round-avatar {
            &::before {
                border-color: $dark-500;
                background-color: $green-600;
            }
        }
    }

    .mc-message-chat-action-group {
        i {
            background-color: $dark-300;
    
            &:hover {
                color: $white;
                background-color: $blue-600;
            } 
        }
    }

    .mc-message-chat-list {
        &:hover { 
            &::-webkit-scrollbar-thumb { 
                background-color: $blue-600; 
            }
        }
    }

    .mc-message-chat-item {
        &:nth-child(even) {
            .mc-message-chat-text {
                p {
                    background-color: $primary;
                    border-color: $dark-200;
                    color: $white;
                }
            }
        }
    }

    .mc-message-chat-text {
        p {
            border-color: $dark-200;
            background-color: $dark-400;
        }

        i {
            color: $gray-500;
            &:hover { color: $gray-700; }
        }
    }

    .mc-message-chat-footer {
        background-color: $dark-300;
        border-color: $dark-100;

        input { color: $gray-300; }

        button {
            background-color: $blue-600;
            color: $white;
        }
    }

    .mc-notify-item {
        border-color: $dark-300;
    }

    .mc-notify-content {
        color: $gray-500;
        &:hover { color: $gray-500; }
    }

    .mc-notify-media {
        i {
            color: $white;
            border-color: $dark-500;
        }
    }

    .mc-notify-meta {
        span {
            color: $gray-400;

            b {
                color: $gray-300;
            }
        }
    }

    .mc-notify-close {
        color: $gray-700;
        &:hover { color: $blue-600; }
    }

    .mc-product-upload-image {
        &:hover {
            &::after { color: $blue-600; }
            img { border-color: $blue-600; }
        }
    
        &.active {
            img { border-color: $green-600; }
        }

        &::after { color: $green-600; }
        img { border-color: $dark-300; }
    }

    .mc-product-upload-file {
        border-color: $dark-100;
        &:hover { border-color: $gray-500; }
    }

    .mc-product-view-gallery {
        img { border-color: $dark-300; }
    }

    .mc-product-view-meta {
        ul {
            li { background-color: $dark-300; }
        }
    }

    .mc-register-banner {
        background: linear-gradient(to right, $dark-600, $dark-500);
    }

    .mc-register-form {
        background-color: $dark-400;
    }

    .mc-register-navigate {
        a { color: $blue-600; }
    }

    .mc-user-avatar {
        border-color: $blue-600;
    }

    .mc-user-metalist {
        li {
            i { color: $blue-600; }
        }
    }

    .mc-user-social {
        a {
            background-color: $gray-200;
            color: $white;
        }
    }

    .mc-user-activity-item {
        border-color: $gray-300;

        &:hover {
            border-color: $blue-600;
            &::before { background-color: $blue-600; }
        }

        &::before {
            background-color: $gray-500;
            border-color: $white;
        }
    }

    .mc-error {
        h3 { color: $gray-400; }
    }
}